* {
    padding: 0;
    margin: 0;
}

/* shared styles */

/* work sans font start*/
.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* work sans font end */

/*font colours */

.dark-1 {
    color: #131313;
}

.dark-2 {
    color: #424242;
}

.dark-3 {
    color: #727272;
}

/* font colours*/

.common-button {
    background-color: #FF900E;
    color: white;
    width: 180px;
    height: 64px;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 50px;
}

.common-button:hover {
    width: 250px;
    height: 64px;
    background-color: #727272;
    transition: all ease-in .2s;
}

/* shared styles */



header {
    background: rgba(255, 144, 14, 0.1);
    /* height: 1322px; */
    padding: 63px 0px 0px;
}

/* navbar start */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    max-width: 1440px;
    margin: 0 auto;
}

.logo {
    font-size: 45px;
}

nav ul {
    display: flex;
    list-style: none;
}


nav ul li a {
    text-decoration: none;
    padding: 0px 20px;
    font-weight: 500;
}

/* navbar end */

@media screen and (max-width:600px) {
    nav {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        margin-top: 30px;
    }

    nav ul li {
        margin-bottom: 30px;
        background-color: #FF900E;
        padding: 20px 50px;
        text-align: center;
        border-radius: 8px;
    }

    nav ul li a {
        color: white;
    }
}


/* banner start */
.banner {
    max-width: 1440px;
    margin: 118px auto;
    text-align: center;
}

.banner-items {
    max-width: 862px;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    margin-bottom: 50px;
}

.banner-subtitle {
    font-size: 1rem;
    font-weight: 400;
}

.banner img {
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
}



/* banner end */

/* team start */

.teams {
    display: flex;
    max-width: 1440px;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.team-img img {
    width: 100%;
}

.team-text {
    max-width: 537px;
}

.team-text .first-h {
    color: #727272;
    font-weight: 700;
    font-size: 2.7rem;
}

.team-text span {
    color: #131313;
    font-weight: 700;
    font-size: 2.7rem;
}

.team-text .second-h {
    color: #FF900E;
    font-weight: 700;
    font-size: 2.7rem;
}

.team-text .team-text-sub {
    font-weight: 400;
    font-size: 1rem;
}


@media screen and (max-width:600px) {
    .teams {
        flex-direction: column;
    }

    .team-text {
        text-align: center;
    }

    .team-img{
        grid-template-columns: repeat(1,1fr);
    }
   
}


/* facts start */

.facts{
    max-width: 1440px;
    margin: 0 auto;
}

.facts .heading{
    margin-bottom: 30px;
}
.facts .heading h1 {
    font-weight: bold;
    font-size: 3rem;
    width: 300px;
}

.facts .heading p {
    font-size: 1rem;
    width: 542px;
}

.facts .boxes {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100%;

}

.facts .box {
    width: 220px;
    height: 220px;
    border: 1px solid #FF900E;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.fact-head {
    font-weight: 600;
    font-size: 2.8rem;
}

.fact-sub {
    font-weight: 600;
    font-size: 1.25rem;
}

@media screen and (max-width:600px) {

    .facts{
        text-align: center;
    }

    .facts .heading{
        max-width: 300px;
        margin: auto;
        margin-bottom: 20px;
    }

    .facts .heading p{
        width: 300px;
    }
    .facts .boxes{
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
        margin: auto;
    }

    .facts .box {
        margin: 0 auto;
    }
}


/* sponsors style start */

.sponsors{
    max-width: 1440px;
    margin: 50px auto;
    text-align: center;
}

.sponsors-heading{
    max-width: 542px;
    margin: auto;
}

.companies{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.copyright{
    max-width: 1040px;
    margin: 50px auto;
    background: rgba(255, 144, 14, 0.1);
    padding: 20px;
    font-size: 1.24rem;
    font-weight: 400;
}

@media screen and (max-width:600px)
{
    .companies{
        flex-direction: column;
        gap: 30px;
    }
}